<footer>
    <ul id="footer">
        <li><a href="https://github.com/jcvalgas"> <img class="icons-contact-footer" src="https://icon-library.com/images/github-icon-white/github-icon-white-6.jpg" alt=""></a></li>
        <li><a href="https://www.linkedin.com/in/joao-vitor-carvalho-valgas-08a742189/"><img class="icons-contact-footer" src="https://i0.wp.com/oficinadainteligencia.com.br/wp-content/uploads/2019/04/simple-icon-linkedin-white.png?ssl=1" alt=""></a></li>
    </ul>
    <p>© Copyright 2022 Valgas</p>
</footer>